@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
img {
    max-width:80%;
    height: auto;
    width: auto;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    margin:10;
    padding:10;
    color:#FFC9F6;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: sans-serif;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 4em;
}
h2{
    font-size: 2em;
}
p{
	font-size: 1em;
    color:#FFC9F6;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;

}
#menu li {
	display:inline-block;
	margin: 10px;
	color: #FFC9F6;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #FFC9F6;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
#column3{
    width: 500px;
    float: left;
    margin-top: 0;
    height: 100%;
}
#column4{
    margin-left: 500px;
    height: 100%;
}
#column5{
    width: 500px;
    float: left;
    margin-top: 0;
}
#column6{
    width: 500px;
    height: 600px;
    margin-left: 500px;
    margin-top: 200px;
}
#column7{
    float:left;
    width:20%;
}
#column8{
    float:left;
    width:20%;
}
#column9{
    float:left;
    width:20%;
}
#column10{
    float:left;
    width:20%;
}
#column11{
    float:left;
    width:20%;
}

#intro{
    margin-top: 110px;
    margin-bottom: 110px;
}
#logo{
    margin-bottom: 75px;
}
#introduction{
    height: 800px;
    width: auto;
    margin-top: 250px;
    margin-bottom: 200px;
    margin-left: 100px;
    text-align: left;
}
.processrow{
    height: 800px;
    width: auto;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 100px;
    text-align: center;   
}
#processbox{
    margin-top: 50px;
    margin-bottom: 50px;
}